.header {
    width: 100%;
    min-height: 75px;
    background-color: #B45E60;
}

.footer {
    width: 100%;
    height: 75px;
    background-color: #93B57A;
}

.content {
    width: 1000px;
    height: 75px;
    margin: auto;
    line-height: 75px;
    background-color: #98C0B8;
    text-align: center;
}

.container {
    width: 600px;
    height: 300px;
    margin: auto;
    padding: 0 200px;
    background-color: #856CAD;
    overflow: hidden;
}

.main {
    width: 100%;
    min-height: 200px;
    background-color: #C19999;
    float: left;
}

.left {
    position: relative;
    left: -200px;
    width: 200px;
    min-height: 300px;
    margin-left: -100%;
    background-color: #8F2151;
    float: left;
}

.right {
    position: relative;
    left: 200px;
    width: 200px;
    min-height: 300px;
    margin-left: -200px;
    background-color: #BB341C;
    float: left;
}
