html,
body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: #66cdd5;
}

.back {
    margin-top: 10px;
    margin-left: 10px;
}

.logo {
    margin-top: 40px;
    text-align: center;
}

.content {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.team {
    margin-top: 100px;
    margin-left: 50px;
    float: left;   
    text-align: center; 
}


.ptt {
    margin-top: 100px;
    margin-right: 50px;
    float: right;
    text-align: center;
}

.ptt-first img  {
    position: absolute;
}

.ptt-second {
    margin-left: 36px;
    margin-top: 46px;
}


